{% autoescape off %}
Hello {{ user.full_name }},

You're receiving this email because you requested a password reset for your DVM Bus Manager account.

Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username is your email: {{ user.email }}

If you didn't request this password reset, you can safely ignore this email.

Thanks for using DVM Bus Manager!

The DVM Bus Manager Team
{% endautoescape %} 